/* Urbanist Font */
@import url("https://fonts.googleapis.com/css2?family=Urbanist&display=swap");
/* Signika Font */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&family=Signika+Negative&display=swap");
body {
  background-color: #040f0f;
  font-family: "Urbanist", sans-serif;
}
/* navigation bar */
nav {
  display: flex;
  background-color: #213555;
  border-radius: 20px;
  margin-bottom: 50px;
}
nav a {
  font-size: 40px;
  text-decoration: none;
  color: #e8e8e8;
}
nav a:hover {
  color: #4f709c;
}
nav li {
  justify-content: end;
  display: inline;
  margin: 10px;
  padding: 10px;
}
nav h1 {
  padding-left: 10px;
}


/* main page */
.hero {
  display: flex;
  width: auto;
  height: 600px;
  flex-direction: row;
  color: #e8e8e8;
  background-color: #213555;
  border-radius: 30px;
}
.hero h1 {
  font-size: 4vw;
  text-align: center;
  padding-left: 10px;
}
.hero p {
  text-align: left;
  padding-left: 10px;
  font-size: 30px;
}
.cat-picture {
  display: flex;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
/* testimonial */
.testimonial-card {
  color: #e8e8e8;
  display: flex;
  justify-content: space-around;
}
.content-testimonial {
  font-size: 20px;
  width: 400px;
  height: auto;
  margin: 10px;
  border-radius: 10px;
  background-color: #213555;
}

.content-testimonial h1 {
  padding: 10px 10px 10px 10px;
  text-align: center;
}
.text-below-content {
  text-align: center;
  color: #e8e8e8;
}

/* produk */
.product-card {
  text-align: center;
  color: #e8e8e8;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.product {
  font-size: 20px;
  width: auto;
  height: auto;
  margin: 10px;
  border-radius: 10px;
  background-color: #213555;
  padding-bottom: 10px;
}
.product button{
  background-color: #040f0f;
  color: #e8e8e8;
  border: none;
  width: 100px;
  height: 50px;
  text-align: center;
  margin: 0;
  font-size: 20px;
  border-radius: 20px;
}
.product button:hover{
  background-color: #e8e8e8;
  color: #040f0f;
}

footer {
  text-align: center;
  color: #e8e8e8;
}

/* responsive */
@media screen and (max-width: 768px) {
  nav {
    display: block;
    padding-top: 20px;
    padding-bottom: 15px;
    height: 40px;
    border-radius: 10px;
  }
  nav a {
    font-size: 25px;
  }
  nav li {
    padding-left: 50px;
  }
  nav h1 {
    display: none;
  }
  .hero {
    height: auto;
    flex-direction: column;
  }
  .hero h1 {
    font-size: 5vh;
    margin-bottom: 80px;
  }
  .cat-picture {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 0px;
  }
  .content-testimonial {
    font-size: 10px;
  }
  .product-card{
    justify-content: center;
    flex-direction: column;
  }
  footer {
    font-size: 10px;
  }
}
