/* Urbanist Font */
@import url("https://fonts.googleapis.com/css2?family=Urbanist&display=swap");
/* Signika Font */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&family=Signika+Negative&display=swap");
body{
  background-color: #30475E;
}
/* navigation bar */
nav {
  font-family: "Urbanist", sans-serif;
  display: flex;
  background-color: #222831;
  border-radius: 20px;
  margin-bottom: 50px;
}
nav a {
  font-size: 40px;
  text-decoration: none;
  color: #E8E8E8;
}
nav a:hover {
  color: #8a8383;
}
nav li {
  justify-content: end;
  display: inline;
  margin: 10px;
  padding: 10px;
}
nav h1 {
  padding-left: 10px;
}

/* testimonial */
.testimonial-card{
  color:#E8E8E8;
  font-family: "Urbanist", sans-serif;
  display: flex;
  justify-content: space-around;
}
.content-testimonial{
  font-family: "Urbanist", sans-serif;
  font-size: 20px;
  width: 400px;
  height: auto;
  margin: 10px;
  border-radius: 10px;
  background-color: #F05454;
}

.content-testimonial h1{
  padding: 10px 10px 10px 10px;
  text-align: center;
}
 h1{
  font-family: 'Signika',sans-serif;
  text-align: center;
}

/* heroes */
.heroes {
  font-family: "Urbanist", sans-serif;
  font-size: 40px;
  width: auto;
  height: 500px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  border-radius: 30px;
  background-color: #F05454;
}
.cat-picture {
  display: flex;
  width: auto;
  height: 500px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

footer{
  text-align: center;
  font-family: "Urbanist", sans-serif;
  background-color: #222831;
  color: #E8E8E8;
}

/* responsive */
@media screen and (max-width: 768px) {
  nav {
    display: block;
    padding-top: 20px;
    padding-bottom: 15px;
    height: 40px;
    border-radius: 10px;
  }
  nav a {
    font-size: 25px;
  }
  nav li {
    padding-left: 50px;
  }
  nav h1 {
    display: none;
  }
  .heroes{
    flex-direction: column;
  }
  .cat-picture{
    display: none;
  }
  .content-testimonial{
    font-size: 10px;
  }
  footer{
    font-size: 10px;
  }
}
